* {
  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  max-width: 910px;
  margin: 0 auto;
}
body {
  background-color: black;
}
header {
  width: 100%;
  background-color: rgb(83, 117, 145);
  display: flex;
  padding: 20px 0;
  align-items: center;
}

header img {
  width: 140px;
  height: 140px;
  border-radius: 70px;
  border: 3px solid white;
  box-shadow: 3px 2px 3px black;
}
.img-text {
  color: rgb(17, 17, 78);
  align-items: center;
}
.content {
  display: flex;
}
#down {
  padding-bottom: 50px;
}
.profile {
  width: 100%;
  padding-left: 20px;
}
.profile p {
  margin-left: 0;
}

h1 {
  font-size: 40px;
  font-family: cursive;
  margin: 10px auto;
}
h3 {
  font-size: 25px;
  margin: 10px auto;
  font-style: italic;
  font-family: monospace;
}
h4 {
  margin-left: -10px;
}
h5 {
  padding-top: 10px;
}
.exp {
  margin-bottom: -10px;
}
.content h4 {
  padding: 10px;
  font-size: 15px;
  font-weight: 600px;
}
.left-area {
  line-height: 25px;
  padding: 30px 20px 40px 70px;
  width: 30%;
  background-color: rgb(211, 219, 236);
  position: relative;
  color: rgb(17, 17, 78);
}

.right-area {
  padding: 30px 100px 50px 30px;
  width: 70%;
  background-color: #f5f5f5;
  text-align: justify;
  word-break: break-all;
}
.slant p,
#slant {
  font-style: italic;
  font-size: 12px;
}
@media screen and (min-width: 600px) {
  .right-area {
    padding: 30px 20px 0px 20px;
    width: 55%;
    color: rgb(17, 17, 78);
    font-size: 15px;
    line-height: 25px;
  }
  .right-area p,
  li {
    max-width: 95%;
  }
  .left-area {
    padding: 30px 30px 20px 50px;
    width: 45%;
    font-size: 15px;
  }
  h1,
  h3 {
    font-size: 25px;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .right-area {
    padding: 10px 17px 0px 0;
    width: 100%;
    color: rgb(17, 17, 78);
    font-size: 10px;
    line-height: 17px;
  }
  .left-area {
    padding: 10px 30px;
    width: 100%;
    color: rgb(17, 17, 78);
    font-size: 14px;
    overflow: hidden;
  }
  h1,
  h3 {
    font-size: 25px;
    text-align: center;
  }
  .img-text {
    width: 100%;
    justify-content: center;
  }
  header img {
    display: none;
  }
  .content {
    display: flex;
    flex-direction: column-reverse;
  }
}
